<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reset Password</title>
    <link rel="icon" href="{{ url_for('static', filename='images/sign in.png') }}">
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/materialdesignicons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
    <script>
        function pass1() {
            var n = document.getElementById("pass");
            pa = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*]).{8,}$/;
            if (n.value == "") {
                document.getElementById("text6").innerHTML = "<span class='error'>Enter a valid Password</span>";
                $('#submit').attr('disabled', 'disabled');
            } else if (!n.value.match(pa)) {
                document.getElementById("text6").innerHTML = "<span class='error'>Not a valid Password</span>";
                $('#submit').attr('disabled', 'disabled');
            } else if (n.value.match(pa)) {
                document.getElementById("text6").innerHTML = "<span class='error'></span>";
                $('#submit').removeAttr('disabled');
            }
        }

        function cpass1() {
            var n1 = document.getElementById("pass");
            var n2 = document.getElementById("cpass");
            if (n2.value == "") {
                document.getElementById("text7").innerHTML = "<span class='error'>Enter a valid Password</span>";
                $('#submit').attr('disabled', 'disabled');
            } else if (n1.value == n2.value) {
                document.getElementById("text7").innerHTML = "<span class='error'></span>";
                $('#submit').removeAttr('disabled');
            } else {
                document.getElementById("text7").innerHTML = "<span class='error'> Password Mismatch</span>";
                $('#submit').attr('disabled', 'disabled')
            }
        }
    </script>
</head>
<body>
    <main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
        <div class="container">
            <div class="card login-card" style="width:85%;margin-left:9%">
                <div class="row no-gutters">
                    <div class="col-md-5">
                        <img src="{{ url_for('static', filename='images/new pass.jpg') }}" alt="login" class="login-card-img">
                        <p class="text-white font-weight-medium text-center flex-grow align-self-end footer-link text-small"></p>
                    </div>
                    <div class="col-md-7">
                        <div class="card-body">
                            <div class="brand-wrapper">
                                <p style="font-family: Streetwear;font-size:20px">Rythmix</p>
                            </div>
                            <p class="login-card-description;">Let's create a new password</p>
                            <form method="POST" action="{{ url_for('reset_password') }}">

                                <div class="form-group">
                                    <label for="pass" class="sr-only">New Password</label>
                                    <input type="password" class="form-control" placeholder="New Password" name="password" required onkeyup="pass1()" id="pass">
                                    <span id="text6" style="position: fixed;margin-top: -21px;color: rgb(168, 9, 9);font-size:small"></span>
                                </div>
                                <div class="form-group">
                                    <label for="cpass" class="sr-only">Confirm Password</label>
                                    <input type="password" class="form-control" placeholder="Confirm Password" required onkeyup="cpass1()" id="cpass">
                                    <span id="text7" style="position: fixed;margin-top: -15px;color: rgb(168, 9, 9);font-size:small"></span>
                                </div>
                                <input name="submit" id="submit" class="btn btn-block login-btn mb-4" type="submit" value="Submit">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="{{ url_for('static', filename='assets/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/bootstrap.min.js') }}"></script>
</body>
</html>
