<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Verify</title>
    <link rel="icon" href="{{ url_for('static', filename='images/sign in.png') }}">
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/materialdesignicons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <script>
        function email1() {
            var n = document.getElementById("email");
            em = /\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
            if (n.value == "") {
                document.getElementById("text4").innerHTML = "<span class='error'>Enter a valid Email address</span>";
                $('#submit').attr('disabled', 'disabled');
            } else if (!n.value.match(em)) {
                document.getElementById("text4").innerHTML = "<span class='error'>Not a valid Email address.</span>";
                $('#submit').attr('disabled', 'disabled');
            } else if (n.value.match(em)) {
                document.getElementById("text4").innerHTML = "<span class='error'></span>";
                $('#submit').removeAttr('disabled');
            }
        }
    </script>
</head>
<body>
    <main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
        <div class="container">
            <div class="card login-card" style="width:60%;margin-left:16%">
                <div class="row no-gutters">
                    <div class="col-md-5">
                        <img src="{{ url_for('static', filename='images/email.png') }}" alt="login" class="login-card-img">
                    </div>
                    <div class="col-md-7">
                        <div class="card-body">
                            <div class="brand-wrapper">
                                <p style="font-family: Streetwear;">Rythmix</p>
                            </div>
                            <p class="login-card-description" style="text-decoration:overline;">Verify your Email</p>
                            <form method="POST" action="{{ url_for('request_password_reset') }}">
                                <div class="form-group">
                                    <label for="email" class="sr-only">Email</label>
                                    <input type="email" name="email" id="email" class="form-control" placeholder="Email address" onkeyup="email1()" required>
                                    <span id="text4" style=" position: fixed;margin-top: -15px;color: rgb(168, 9, 9);"></span>
                                </div>
                                <input name="submit" id="submit" class="btn btn-block login-btn mb-4" type="submit" value="Submit">
                            </form>
                            {% with messages = get_flashed_messages(with_categories=true) %}
                                {% if messages %}
                                    {% for category, message in messages %}
                                        <div class="alert alert-{{ category }}">{{ message }}</div>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="{{ url_for('static', filename='assets/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/bootstrap.min.js') }}"></script>
</body>
</html>
