<div class="navbar-nav mx-auto border-top">
    <a href="/" class="nav-item nav-link active">Home</a>
    <a href="/dashboard" class="nav-item nav-link">Dashboard</a>
    <a href="/payment" class="nav-item nav-link">pricing</a>
  
    <a href="/contact" class="nav-item nav-link">Contact Us</a>
</div>
<!-- Add login and signup buttons here, visible only on mobile -->
<div class="d-xl-none mt-3">
    <a href="/login"><button class="log logs me-2">Login</button></a>
    <a href="/register"><button class="reg logs">Sign up</button></a>
</div>