  <!-- Navbar Start -->
  <div class="container-fluid bg-light px-0">
       
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 py-lg-0 px-lg-5">
        <a href="index.html" class="navbar-brand d-block d-lg-none">
            <h1 class="m-0 display-5 text-capitalize font-italic text-white"><span class="text-primary">Safety</span>First</h1>
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
            <div class="navbar-nav mx-auto border-top">
                <a href="/" class="nav-item nav-link active">Home</a>
                <a href="/dashboard" class="nav-item nav-link">Dashboard</a>
                <a href="/payment" class="nav-item nav-link">pricing</a>
                <a href="/contact" class="nav-item nav-link">Contact Us</a>
                <a href="/create-article" class="nav-item nav-link">create_article</a>
                <a href="/view-articles" class="nav-item nav-link">view_articles</a>
            </div>
        </div>
    </nav>
</div>