<!DOCTYPE html>
<html lang="en">
  {% include 'admin/template/head.html' %}
<body>
    <!-- tap to top-->
    <div class="tap-top">
      <svg class="feather">
        <use href="{{ url_for('static', filename='admin/assets/svg/feather-icons/dist/feather-sprite.svg') }}#arrow-up"></use>
      </svg>
    </div>
    <!-- loader-->
    <div class="loader-wrapper">
      <div class="loader"></div>
    </div>
    <main class="page-wrapper compact-wrapper" id="pageWrapper">
      <!-- Page header start -->
      {% include 'admin/template/header.html' %}
      <!-- Page header end-->
      <div class="page-body-wrapper">
        <!-- Page sidebar start-->
        <div class="overlay"></div>
        {% include 'admin/template/aside.html' %}
       <!-- Page sidebar end-->
       <div class="page-body">
        <div class="container-fluid">
          <div class="row page-title">
            <div class="col-sm-6">
              <h3>User Profile</h3>
            </div>
            <div class="col-sm-6">
              <nav>
                <ol class="breadcrumb justify-content-sm-end align-items-center">
                  <li class="breadcrumb-item"><a href="{{ url_for('hello_world') }}">
                      <svg class="svg-color">
                        <use href="{{ url_for('static', filename='admin/assets/svg/iconly-sprite.svg#Home') }}"></use>
                      </svg></a></li>
                  <li class="breadcrumb-item">Users</li>
                  <li class="breadcrumb-item active">User Profile</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
        <!-- Container-fluid starts-->
        <div class="container-fluid user-profile">
          <div class="row">
            <div class="col-sm-12">
              <div class="card hovercard text-center">
                <div class="cardheader"></div>
                <div class="user-image">
                  <div class="avatar"><img alt="" src="{{ user.avatar or url_for('static', filename='admin/assets/images/avatar/1.jpg') }}"></div>
                  <div class="icon-wrapper"><i class="icofont icofont-pencil-alt-5"></i></div>
                </div>
                <div class="info">
                  <div class="row">
                    <div class="col-sm-6 col-lg-4 order-sm-1 order-xl-0">
                      <div class="row">
                        <div class="col-sm-6 col-lg-4 order-sm-2 order-xl-2">
                          <div class="ttl-info text-start">
                            <h6><i class="fa-solid fa-envelope"></i>Email</h6><span>{{ user.email }}</span>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="ttl-info text-start">
                            <h6><i class="fa-solid fa-calendar-days"></i>DOB</h6><span>{{ user.dob or 'Not provided' }}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12 col-lg-4 order-sm-0 order-xl-1">
                      <div class="user-designation">
                        <div class="title"><a href="#">{{ user.full_name }}</a></div>
                        <div class="desc">{{ user.role or 'User' }}</div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 order-sm-2 order-xl-2">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="ttl-info text-start">
                            <h6><i class="fa-solid fa-phone"></i>Contact</h6><span>{{ user.phone_number or 'Not provided' }}</span>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="ttl-info text-start">
                            <h6><i class="fa fa-location-arrow"></i>Location</h6><span>{{ user.address or 'Not provided' }}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr>
                  <div class="social-media">
                    <!-- Add social media links if available in user data -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>            
      <div class="social-media">
                    <ul class="list-inline">
                      <li class="list-inline-item"><a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
                      <li class="list-inline-item"><a href="https://accounts.google.com/" target="_blank"><i class="fa-brands fa-google-plus-g"></i></a></li>
                      <li class="list-inline-item"><a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
                      <li class="list-inline-item"><a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                      <li class="list-inline-item"><a href="https://rss.app/" target="_blank"><i class="fa fa-rss"></i></a></li>
                    </ul>
                  </div>
                  <div class="follow">
                    <div class="row">
                      <div class="col-6 text-md-end border-right">
                        <div class="follow-num counter" id="count4">25869</div><span>Follower</span>
                      </div>
                      <div class="col-6 text-md-start">
                        <div class="follow-num counter" id="count5">659887</div><span>Following</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        
          </div>
        </div>
        
        <!-- User Posts here-->
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12">
              <div class="card">
                <div class="card-header">
                  <h5>User Posts</h5>
                </div>
                <div class="card-body">
                  {% if posts %}
                    <div class="row">
                      {% for post in posts %}
                        <div class="col-md-6 col-lg-4 mb-4">
                          <div class="card h-100">
                            {% if post.image_url %}
                              <img src="{{ post.image_url }}" class="card-img-top" alt="{{ post.title }}">
                            {% endif %}
                            <div class="card-body">
                              <h5 class="card-title">{{ post.title }}</h5>
                              <p class="card-text">{{ post.content[:100] | safe }}...</p>
                              <p class="card-text"><small class="text-muted">{{ post.created_at | safe }}</small></p>
                              <a href="{{ url_for('view_article', article_id=post._id) }}" class="btn btn-primary">Read More</a>
                            </div>
                          </div>
                        </div>
                      {% endfor %}
                    </div>
                  {% else %}
                    <p>This user hasn't posted any articles yet.</p>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% include 'admin/template/footer.html' %}
      </div>
    </main>
    <!-- jquery-->
    <script src="{{ url_for('static', filename='admin/assets/js/vendors/jquery/dist/jquery.min.js') }}"></script>
    <!-- bootstrap js-->
    <script src="{{ url_for('static', filename='admin/assets/js/vendors/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/assets/js/config.js') }}"></script>
    <!-- Sidebar js-->
    <script src="{{ url_for('static', filename='admin/assets/js/sidebar.js') }}"></script>
    <!-- Apexchart js-->
    <script src="{{ url_for('static', filename='admin/assets/js/vendors/apexcharts/dist/apexcharts.min.js') }}"></script>
    <!-- Chart js-->
    <script src="{{ url_for('static', filename='admin/assets/js/vendors/chart.js/dist/chart.umd.js') }}"></script>
    <!-- Datatable js-->
    <script src="{{ url_for('static', filename='admin/assets/js/vendors/simple-datatables/dist/umd/simple-datatables.js') }}"></script>
    <!-- default dashboard js-->
    <script src="{{ url_for('static', filename='admin/assets/js/dashboard/default.js') }}"></script>
    <!-- scrollbar js-->
    <script src="{{ url_for('static', filename='admin/assets/js/scrollbar/simplebar.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/assets/js/scrollbar/custom.js') }}"></script>
    <!-- scrollable-->
    <!-- customizer-->
    <script src="{{ url_for('static', filename='admin/assets/js/theme-customizer/customizer.js') }}"></script>
    <!-- custom script -->
    <script src="{{ url_for('static', filename='admin/assets/js/script.js') }}"></script>
</body>
</html>